#bgImg{
    width: 100%; /* Adjust the percentage to resize as needed */
    height: 100%; /* Maintain aspect ratio */
}
.sharp-corners {
    border-radius:  1px;
    padding:        0px;
}
.button-corners{
    border-radius: 1px;
}

@media (max-width: 600px) {
    .hide-on-mobile {
       display: none;
    }
}